/**
*  Mise en page général avec display:grid
*/

.site__header {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: rgba(255, 255, 255, .05);
    border: 1px groove white;
    // box-shadow: inset 0px 0px 100px -42px rgb(255, 103, 48);
    box-shadow: inset 0px 0px 100px -42px rgba(225, 225, 225, 0.629);
    transition: 1s;
}

.site__header:hover {
    border: 1px solid rgb(255, 103, 48);
    box-shadow: inset 0px 0px 100px -42px rgb(255, 103, 48);
}

.site__main {
    grid-area: main;
    overflow: hidden;
    /* Resolves issue with <pre> elements forcing full width. */
    background-color: black;
}

.site__footer {
    grid-area: footer;
    background-color: black;
}

.site__aside {
    grid-area: aside;
    box-shadow: inset 0px 0px 100px -42px rgba(0, 0, 0, 0.629);
    background-color: #772b27;
    // background-color: rgb(61, 61, 61);
    text-align: start;

    li {
        text-align: start;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        width: 8rem;
    }

    li:hover {
        background-color: #a16e6b;

        @media screen and (min-width: $largeur__bureau) {
            background-color: rgb(103, 103, 103);
        }
    }

    h3 {
        padding-left: 2rem;
    }

    @media screen and (min-width: $largeur__bureau) {
        background-color: rgb(61, 61, 61);
    }
}

.site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    // row-gap: 50px;
    background-color: black;

    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: 20% auto;
        grid-template-areas:
            "header header"
            "aside main"
            /*  ". main" */
            "footer footer";
    }
}

.no-aside {
    grid-template-areas:
        "header"
        "main"
        "footer";

    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}