// .blockflex {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;

//     article {
//         flex: 1 1 200px;
//         border: 1px solid red;
//         padding: 10px;
//     }
// }

.blockflex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: transparent;
    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem;

}

.blockflex__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-style: groove solid groove double;
    padding: 1rem;
    box-shadow: 3px 3px 27px 2px rgba(255, 255, 255, 0.3);
    transition: 1s;

    h3,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }
}


.blockflex__article:hover {
    border: 1px solid rgb(255, 103, 48);
    box-shadow: 0px 40px 45px -40px rgb(255, 103, 48);
}

.blockflex__galerie {

    flex: 1, 0, 100%;
}