.site__header {}

.site__header__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logomenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* -------------------------------------------------- menu-enetete */
.menu-entete-container {
    // nav
    margin: 2rem;


    .menu {
        // ul
        display: flex;
        list-style-type: none;
        justify-content: flex-start;


        li::before {
            content: "\2620";
            background-color: transparent;
            color: #e6a47b;

        }

        .menu-item {
            //li
            color: rgb(0, 42, 85);


            a {
                display: block;
                padding: 5px 20px;


            }
        }
    }
}