/*-Les balises utilisées dans la conversion des fichiers dans le markdown-*/

/*---------------------------LISTES---------------------------*/
ul,
ol {}

ul>li,
ol>li {}

ul>li {}

ol>li {}

.main li::before {
    content: "\2694";
    background: #ff914d;
    border-radius: 1rem;
    padding-inline: 1rem;
    margin-inline-end: 1rem;
}

ul {
    list-style-type: none;
}

/*---------------------------PRE---------------------------*/

pre {}

code {}

i {}

blockquote {}

hr {}

strong {}